@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Create new Role / Update existing Role";
}

@using (Html.BeginForm("RegisterRole", "Role", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    @Html.AntiForgeryToken()

    <hr />
    <h2>@ViewBag.Title</h2>
    <hr />

    @*@Html.ValidationSummary(true, "Company cannot be registered. Please correct the error messages below and try again", new { @class = "text-danger" })*@
    @Html.ValidationMessage("OtherExceptions", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.Id)

    <div id="divManageRoles" style="margin: 20px 10px 0 10px">
        <table id="tblRoles" style="width: 100% !IMPORTANT; border-collapse: separate; border-spacing: 0 10px">
            <tr>
                <td style="border: none; text-align: left; word-wrap: break-word; width: 15%">
                    @Html.LabelFor(m => m.Name, new {@class = "control-label"})
                </td>
                <td style="border: none; text-align: left; word-wrap: break-word; width: 85%;">
                    @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.Name, "", new {@class = "text-danger"})
                </td>
            </tr>
            <tr>
                <td style="width: 15%"></td>
                <td style="border: none; text-align: left;">
                    <input type="submit" id="btnRegister" class="btn btn-success" value="Save/Update Role" />
                    &nbsp;&nbsp;&nbsp;
                    <input type="button" id="btnCancel" class="btn btn-primary" value="Cancel" onclick="@("window.location.href='" + @Url.Action("Cancel", "Role") + "'");" />
                </td>
            </tr>
        </table>
    </div>
    
}

