@model iHubz.Web.Models.CompaniesViewModel
@{
    ViewBag.Title = "Register new Company / Update existing company registration";
}

@using (Html.BeginForm("RegisterCompany", "Companies", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <hr />
    <h2>@ViewBag.Title</h2>
    <hr />
    @Html.ValidationSummary(true, "Company cannot be registered. Please correct the error messages below and try again", new { @class = "text-danger" })
    @Html.ValidationMessage("OtherExceptions", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.CompanyId)
    @Html.HiddenFor(m => m.CreatedDate)
    @Html.HiddenFor(m => m.CreatedBy)
    <div id="divManageCompany" style="margin: 20px 10px 0 10px">
        <table id="tblCompany" style="width: 100% !IMPORTANT; border-collapse: separate; border-spacing: 0 10px">
            <tr>
                <td style="border: none; text-align: left; word-wrap: break-word; width: 15%">
                    @Html.LabelFor(m => m.CompanyName, new {@class = "control-label"})
                </td>
                <td style="border: none; text-align: left; word-wrap: break-word; width: 85%;" colspan="3">
                    @Html.TextBoxFor(m => m.CompanyName, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.CompanyName, "", new {@class = "text-danger"})
                </td>
            </tr>
            <tr>
                <td style="border: none; text-align: left; word-wrap: break-word; width: 15%">
                    @Html.LabelFor(m => m.Website, new {@class = "control-label"})
                </td>
                <td style="border: none; text-align: left; word-wrap: break-word; width: 85%" colspan="3">
                    @Html.TextBoxFor(m => m.Website, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.Website, "", new {@class = "text-danger"})
                </td>
            </tr>
            <tr style="vertical-align: top;">
                <td style="border: none; text-align: left; word-wrap: break-word; width: 15%">
                    @Html.LabelFor(m => m.AddressLine1, new {@class = "control-label"})
                </td>
                <td style="border: none; text-align: left; word-wrap: break-word; width: 35%">
                    @Html.TextAreaFor(m => m.AddressLine1, new {@class = "form-control", @rows = "3"})
                    @Html.ValidationMessageFor(m => m.AddressLine1, "", new {@class = "text-danger"})
                </td>
                <td style="border: none; text-align: left; word-wrap: break-word; width: 15%">
                    @Html.LabelFor(m => m.AddressLine2, new {@class = "control-label"})
                </td>
                <td style="border: none; text-align: left; word-wrap: break-word; width: 35%">
                    @Html.TextAreaFor(m => m.AddressLine2, new {@class = "form-control", @rows = "3"})
                    @Html.ValidationMessageFor(m => m.AddressLine2, "", new {@class = "text-danger"})
                </td>
            </tr>
            <tr style="vertical-align: top;">
                <td style="border: none; text-align: left; word-wrap: break-word; width: 15%">
                    @Html.LabelFor(m => m.City, new {@class = "control-label"})
                </td>
                <td style="border: none; text-align: left; word-wrap: break-word; width: 35%">
                    @Html.TextBoxFor(m => m.City, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.City, "", new {@class = "text-danger"})
                </td>
                <td style="border: none; text-align: left; word-wrap: break-word; width: 15%">
                    @Html.LabelFor(m => m.District, new {@class = "control-label"})
                </td>
                <td style="border: none; text-align: left; word-wrap: break-word; width: 35%">
                    @Html.TextBoxFor(m => m.District, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.District, "", new {@class = "text-danger"})
                </td>
            </tr>
            <tr style="vertical-align: top;">
                <td style="border: none; text-align: left; word-wrap: break-word; width: 15%">
                    @Html.LabelFor(m => m.Pincode, new {@class = "control-label"})
                </td>
                <td style="border: none; text-align: left; word-wrap: break-word; width: 35%">
                    @Html.TextBoxFor(m => m.Pincode, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.Pincode, "", new {@class = "text-danger"})
                </td>
                <td style="border: none; text-align: left; word-wrap: break-word; width: 15%">
                    @Html.LabelFor(m => m.StateId, new {@class = "control-label"})
                </td>
                <td style="border: none; text-align: left; word-wrap: break-word; width: 35%">
                    @Html.DropDownListFor(m => m.StateId, Model.States, "-Please select a State-", new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.StateId, "", new {@class = "text-danger"})
                </td>
            </tr>
            <tr>
                <td style="border: none; text-align: left; word-wrap: break-word; width: 15%">
                    @Html.LabelFor(m => m.ContactName1, new {@class = "control-label"})
                </td>
                <td style="border: none; text-align: left; word-wrap: break-word; width: 85%" colspan="3">
                    @Html.TextBoxFor(m => m.ContactName1, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.ContactName1, "", new {@class = "text-danger"})
                </td>
            </tr>
            <tr style="vertical-align: top;">
                <td style="border: none; text-align: left; word-wrap: break-word; width: 15%">
                    @Html.LabelFor(m => m.Email1, new {@class = "control-label"})
                </td>
                <td style="border: none; text-align: left; word-wrap: break-word; width: 35%">
                    @Html.TextBoxFor(m => m.Email1, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.Email1, "", new {@class = "text-danger"})
                </td>
                <td style="border: none; text-align: left; word-wrap: break-word; width: 15%">
                    @Html.LabelFor(m => m.WorkPhone1, new {@class = "control-label"})
                </td>
                <td style="border: none; text-align: left; word-wrap: break-word; width: 35%">
                    @Html.TextBoxFor(m => m.WorkPhone1, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.WorkPhone1, "", new {@class = "text-danger"})
                </td>
            </tr>
            <tr>
                <td style="border: none; text-align: left; word-wrap: break-word; width: 15%">
                    @Html.LabelFor(m => m.ContactName2, new {@class = "control-label"})
                </td>
                <td style="border: none; text-align: left; word-wrap: break-word; width: 85%" colspan="3">
                    @Html.TextBoxFor(m => m.ContactName2, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.ContactName2, "", new {@class = "text-danger"})
                </td>
            </tr>
            <tr style="vertical-align: top;">
                <td style="border: none; text-align: left; word-wrap: break-word; width: 15%">
                    @Html.LabelFor(m => m.Email2, new {@class = "control-label"})
                </td>
                <td style="border: none; text-align: left; word-wrap: break-word; width: 35%">
                    @Html.TextBoxFor(m => m.Email2, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.Email2, "", new {@class = "text-danger"})
                </td>
                <td style="border: none; text-align: left; word-wrap: break-word; width: 15%">
                    @Html.LabelFor(m => m.WorkPhone2, new {@class = "control-label"})
                </td>
                <td style="border: none; text-align: left; word-wrap: break-word; width: 35%">
                    @Html.TextBoxFor(m => m.WorkPhone2, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.WorkPhone2, "", new {@class = "text-danger"})
                </td>
            </tr>
            <tr>
                <td style="border: none; text-align: left; word-wrap: break-word; width: 15%">
                    @Html.LabelFor(m => m.Mobile, new {@class = "control-label"})
                </td>
                <td style="border: none; text-align: left; word-wrap: break-word; width: 85%" colspan="3">
                    @Html.TextBoxFor(m => m.Mobile, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.Mobile, "", new {@class = "text-danger"})
                </td>
            </tr>
            @for (var i = 0; i < Model.CompanyProperties.Count; i++)
            {
                @Html.HiddenFor(m => Model.CompanyProperties[i].CompanyPropertyId)
                @Html.HiddenFor(m => Model.CompanyProperties[i].CreatedBy)
                @Html.HiddenFor(m => Model.CompanyProperties[i].CreatedDate)
                <tr>
                    <td style="border: none; text-align: left; word-wrap: break-word; width: 15%">
                        @Html.LabelFor(m => Model.CompanyProperties[i].BusinessCategory, new {@class = "control-label", @style = "text-align: left"})
                    </td>
                    <td style="border: none; text-align: left; word-wrap: break-word; width: 85%" colspan="3">
                        @Html.TextBoxFor(m => Model.CompanyProperties[i].BusinessCategory, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => Model.CompanyProperties[i].BusinessCategory, "", new {@class = "text-danger"})
                    </td>
                </tr>
                <tr style="vertical-align: top;">
                    <td style="border: none; text-align: left; word-wrap: break-word; width: 15%">
                        @Html.LabelFor(m => Model.CompanyProperties[i].BusinessCategory1, new {@class = "control-label", @style = "text-align: left"})
                    </td>
                    <td style="border: none; text-align: left; word-wrap: break-word; width: 35%">
                        @Html.TextBoxFor(m => Model.CompanyProperties[i].BusinessCategory1, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => Model.CompanyProperties[i].BusinessCategory1, "", new {@class = "text-danger"})
                    </td>
                    <td style="border: none; text-align: left; word-wrap: break-word; width: 15%">
                        @Html.LabelFor(m => Model.CompanyProperties[i].BusinessCategory2, new {@class = "control-label", @style = "text-align: left"})
                    </td>
                    <td style="border: none; text-align: left; word-wrap: break-word; width: 35%">
                        @Html.TextBoxFor(m => Model.CompanyProperties[i].BusinessCategory2, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => Model.CompanyProperties[i].BusinessCategory2, "", new {@class = "text-danger"})
                    </td>
                </tr>
                <tr style="vertical-align: top;">
                    <td style="border: none; text-align: left; word-wrap: break-word; width: 15%">
                        @Html.LabelFor(m => Model.CompanyProperties[i].BusinessCategory3, new {@class = "control-label", @style = "text-align: left"})
                    </td>
                    <td style="border: none; text-align: left; word-wrap: break-word; width: 35%">
                        @Html.TextBoxFor(m => Model.CompanyProperties[i].BusinessCategory3, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => Model.CompanyProperties[i].BusinessCategory3, "", new {@class = "text-danger"})
                    </td>
                    <td style="border: none; text-align: left; word-wrap: break-word; width: 15%">
                        @Html.LabelFor(m => Model.CompanyProperties[i].BusinessCategory4, new {@class = "control-label", @style = "text-align: left"})
                    </td>
                    <td style="border: none; text-align: left; word-wrap: break-word; width: 35%">
                        @Html.TextBoxFor(m => Model.CompanyProperties[i].BusinessCategory4, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => Model.CompanyProperties[i].BusinessCategory4, "", new {@class = "text-danger"})
                    </td>
                </tr>
                <tr style="vertical-align: top;">
                    <td style="border: none; text-align: left; word-wrap: break-word; width: 15%">
                        @Html.LabelFor(m => Model.CompanyProperties[i].CompanyCapacity, new {@class = "control-label"})
                    </td>
                    <td style="border: none; text-align: left; word-wrap: break-word; width: 35%">
                        @Html.TextBoxFor(m => Model.CompanyProperties[i].CompanyCapacity, new {@class = "form-control"})
                        @Html.ValidationMessageFor(m => Model.CompanyProperties[i].CompanyCapacity, "", new {@class = "text-danger"})
                    </td>
                    <td style="border: none; text-align: left; word-wrap: break-word; width: 15%">
                        @Html.LabelFor(m => Model.CompanyProperties[i].AnnualMaintenanceContract, new {@class = "control-label", @style = "text-align: left"})
                    </td>
                    <td style="border: none; text-align: left; word-wrap: break-word; width: 35%">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => Model.CompanyProperties[i].AnnualMaintenanceContract)
                        </div>
                    </td>
                </tr>
            }
            <tr><td colspan="4"><hr/></td></tr>
            <tr>
                <td style="width: 15%"></td>
                <td style="border: none; text-align: left;" colspan="3">
                    <input type="submit" id="btnRegister" class="btn btn-success" value="Register Company"/>
                    &nbsp;&nbsp;&nbsp;
                    <input type="button" id="btnCancel" class="btn btn-primary" value="Cancel" onclick="@("window.location.href='" + @Url.Action("Cancel", "Companies") + "'");"/>
                </td>
            </tr>
        </table>
    </div>

}


