@*@model iHubz.Web.Models.CompaniesListViewModel
@{
    ViewBag.Title = "Companies";
}

<h2>Companies</h2>

<h4>@Html.ActionLink("Create new company", "ManageCompany", "Companies")</h4>*@

@*<div id="divViewCompanies" style="margin: 20px 10px 0 10px">
    <table id="tblCompanies" style="width: 100% !IMPORTANT; border-collapse: collapse;">
        @for (var i = 0; i < Model.Companies.Count; i++)
        {
            @Html.HiddenFor(m => m.Companies[i].CompanyId)
            <tr>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Companies[i].CompanyName, new {@class = "col-md-2 control-label"})
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Companies[i].CompanyName, new {@class = "form-control"})
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Companies[i].Website, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Companies[i].Website, new { @class = "form-control" })
                        </div>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>*@


@using PagedList.Mvc
@model PagedList.IPagedList<iHubz.Domain.MainModule.CompanyEntities.Companies>
@{
    ViewBag.Title = "View Companies";
}

<h2 style="text-align: center; text-decoration: underline">iHubz Registered Companies</h2>

<div id="divViewCompanies" style="margin: 20px 10px 0 10px">
    <input type="button" class="btn btn-warning" value="Register new company" onclick="@("window.location.href='" + @Url.Action("ManageCompany", "Companies") + "'");"/>
    <hr />
    <table id="tblCompanies" style="width: 100% !IMPORTANT; border-collapse: collapse;">
        <tr>
            <th style="border: 2px solid black; text-align: center; width: 30%">
                @Html.ActionLink("Company Name", "ViewCompanies", new {sortOrder = "CompanyName", CurrentSort = ViewBag.CurrentSort})
            </th>
            <th style="border: 2px solid black; text-align: center; width: 20%">
                @Html.ActionLink("Website", "ViewCompanies", new {sortOrder = "Website", CurrentSort = ViewBag.CurrentSort})
            </th>
            <th style="border: 2px solid black; text-align: center; width: 20%">
                @Html.ActionLink("City", "ViewCompanies", new {sortOrder = "City", CurrentSort = ViewBag.CurrentSort})
            </th>
            <th style="border: 2px solid black; text-align: center; width: 10%">
                @Html.ActionLink("State", "ViewCompanies", new {sortOrder = "State", CurrentSort = ViewBag.CurrentSort})
            </th>
            <th style="border: 2px solid black; text-align: center; width: 20%" colspan="2">
                Actions
            </th>
        </tr>
        @foreach (var item in Model)
        {
            @Html.HiddenFor(modelItem => item.CompanyId)
            <tr>
                <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">
                    @Html.DisplayFor(modelItem => item.Website)
                </td>
                <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">
                    @Html.DisplayFor(modelItem => item.State.StateName)
                </td>
                <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">
                    @Html.ActionLink("Edit", "ManageCompany", item)
                </td>
                <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">
                    @Html.ActionLink("Delete", "DeleteCompany",
                        new {companyId = item.CompanyId},
                        new {onclick = "return confirm('Are you sure you wish to delete this company?');"})
                </td>
            </tr>
        }
    </table>
    <br/>
    <div id='Paging' style="text-align: center">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("ViewCompanies", new {page}), PagedListRenderOptions.Classic)
    </div>

</div>