<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iHubz - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    @if (Context.User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Companies<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-level">
                                <li><a href="#">@Html.ActionLink("Registered Companies", "ViewCompanies", "Companies")</a></li>
                                <li><a href="#">@Html.ActionLink("Search Companies", "ViewCompanies", "Companies")</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-level">
                                <li><a href="#">@Html.ActionLink("Manage Roles and Users", "Index", "User")</a></li>
                                <li><a href="#">@Html.ActionLink("Register New User", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</a></li>
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="text-align: center">
            <p>&copy; @DateTime.Now.Year - iHubz: Connecting industries through technology</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
